.form-container {
  text-align: center;
  width: min-content;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 0.5em 0.5em #706cca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
  padding: 20px 70px;
  background: white;
}

.main-title {
  text-align: center;
  font-family: Bebas Neue;
  font-size: 50px;
  color: #706cca;
  font-weight: 600;
}
