.question {
  font-family: Bebas Neue;
  font-size: 35px;
  color: #706cca;
  font-weight: 500;
}

.calendar-input {
  border: 1px solid #706cca;
  color: #706cca;
  border-radius: 1.5px;
}

.skip-button {
  font-size: 20px;
  color: white;
  padding: 0.3em 1.2em;
  border-style: none;
  border-radius: 10px;
  display: grid;
  margin: auto;
  background-color: #a94460;
  margin-top: 40px;
  margin-right:10px;
}

.next-button {
  font-size: 20px;
  color: white;
  padding: 0.3em 1.2em;
  border-style: none;
  border-radius: 10px;
  display: grid;
  margin: auto;
  background-color: #a94460;
  margin-top: 40px;
  margin-left: 10px;
}

.question-buttons {
  display: inline-flex;
}
